#subtitle {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.3);
	transition: opacity 0.1s ease-in-out;
	/*backdrop-filter: blur(2px);*/
	padding: 8px;
	/*width: 60%;
	height: 60px;*/
	display: flex;
	align-items: start;
	gap: 8px;
	z-index: 100000;
	opacity: 0;
	font-size: 16px;
	font-weight: 500;
	text-align: left;

	#dialog {
		/*padding-right: 4px;*/
		/*border-right: 2px solid #0000003d;*/
		/*animation: caret-blink 0.75s infinite;*/
	}

	#character {
	}
}

/*@keyframes caret-blink {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #0000009d;
	}
}*/
