/* Fonts */
@font-face {
    font-family: 'ChalkyChicken';
    src: url('/assets/fonts/ChalkyChicken.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Book interface */


#book-interface {
    position: fixed;
    top: 50%;
    left: 5%;
    /* 5% / 30% - 20% */
    transform: translate(-50%, -50%);
    width: 70vw;
    display: flex;
    flex-direction: column;
    animation: book-interface-left-move 1s ease-in-out infinite alternate;
}


/* @keyframes book-interface-left-move {
    from {
        left: -30%;
    }
    to {
        left: -31%;
    }
} */


.book-panel {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 65vh;
    background-image: url('/src/assets/books/book-interface.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 20px;
}

.book-page {
    width: fit-content;
    position: relative;
    flex: 1;
    display: flex;
    padding: 40px;
}
.book-page-left {
    background-image: url('/src/assets/books/left-page.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;

    .sticker {
        width: 40%;
        height: fit-content;
        object-fit: contain;
        transition: 0.2s ease-in-out;
    }
    .sticker:hover {
        filter: drop-shadow(0px 10px 3px #847a63a6);
        transform: translateY(-5px);
        rotate: calc(-10deg);
        cursor: pointer;
    }
}

.book-page-right {
    background-image: url('/src/assets/books/right-page.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;

    .interactable-object-title {
        font-family: 'ChalkyChicken';
        color: #6d93af;
        font-size: 1.875rem;
        text-align: center;
        width: 100%;
        height: fit-content;
    }
}
.book-spine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: clamp(12px, 8vw, 100px);
    background-image: url('/src/assets/books/spine.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 10;
}

.book-tabs {
    position: absolute;
    right: -40px;
    top: 60px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book-tab {
    background-image: url('/src/assets/books/tab.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    padding: 10px;
    &:hover {
        background-image: url('/src/assets/books/tab-hover.svg');
    }
    transition: 0.2s ease-in-out;
    img {
        cursor: pointer;
        width: 100%;
        object-fit: contain;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        transition: 0.2s ease-in-out;
    &:hover{
        rotate: calc(3deg);
    }
    }
}

.book-page-numbering {
    position: absolute;
    font-family: 'ChalkyChicken';
    color: #2a393b;
    font-size: 1.25rem;
    cursor: default;
    user-select: none;
}
.book-page-numbering-left {
    top: 20px;
    left: 5%;
}
.book-page-numbering-right {
    top: 20px;
    right: 5%;
}
/* 
#book-interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.half-open-book-interface{
    height: 200% !important;
}


.book-panel,
#book-selector-interface,
#book-drawing-interface {
    position: relative;
    background-color: #F9EED2;
    border: solid 30px #DC4543;
    pointer-events: visible;
}

#book-selector-interface, #book-drawing-interface , #book-drawing-interface .book-drawing-interface-left, #book-drawing-interface .book-drawing-interface-right{
    width: 70vw;
    height: 60vh;
}


#book-selector-interface{
    display: flex;
    flex-direction: row;

}
#book-selector-interface .book-selector-interface-left,
#book-selector-interface .book-selector-interface-right, #book-drawing-interface .book-drawing-interface-left,
#book-drawing-interface .book-drawing-interface-right {
    width: 50%;
    padding: 20px;
}

#book-selector-interface .book-selector-interface-left {
    background-image: url('/src/books/book.svg');
    background-repeat: no-repeat;
    background-position-y: -40px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-content: flex-start;
}

.book-panel {
    position: relative;
    background-color: #F9EED2;
    display: flex;
    flex-direction: row;
    align-items: left;
    border-radius: 40px;
}

.book-panel button{
    margin: 10px;
}

.book-close{
    position: absolute;
    border-radius:999px;
    background-color: #ff5454;
    border: 4px solid #d32929;
    width: 40px;
    height: 40px;
    color: white;
}

.validate-book-drawing{
     position: absolute;
     top: 0;
     right: 0;
    border-radius:999px;
    background-color: #42d51d;
    border: 4px solid #249e06;
    width: 40px;
    height: 40px;
    color: white;
}

.collected-object{
    margin-top: 12px;
    font-size: 14px;
    color: #4b2b2b;
}

.collected-object-sticker-button {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.collected-object-sticker {
    width: 96px;
    height: 96px;
    object-fit: contain;
}

.wrap-button{
    position: absolute;
    width: 100%;
}

.name-object-selected{
    position: absolute;
    top: 10vh;
    left: 60px;
    width: 30%;
}
 */
