
/* Book interface */

#book-interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.half-open-book-interface{
    height: 200% !important;
}


.book-panel,
#book-selector-interface,
#book-drawing-interface {
    position: relative;
    background-color: #F9EED2;
    border: solid 30px #DC4543;
    pointer-events: visible;
}

#book-selector-interface, #book-drawing-interface , #book-drawing-interface .book-drawing-interface-left, #book-drawing-interface .book-drawing-interface-right{
    width: 60vw;
    height: 60vh;
}


/* Mettre côte à côte les pages droite / left */
#book-selector-interface{
    display: flex;
    flex-direction: row;

}
#book-selector-interface .book-selector-interface-left,
#book-selector-interface .book-selector-interface-right, #book-drawing-interface .book-drawing-interface-left,
#book-drawing-interface .book-drawing-interface-right {
    width: 50%;
    padding: 20px;
}

#book-selector-interface .book-selector-interface-left {
    background-image: url('/src/books/book.svg');
    background-repeat: no-repeat;
    background-position-y: -40px;
}

.book-panel {
    position: relative;
    background-color: #F9EED2;
    display: flex;
    flex-direction: row;
    align-items: left;
    border-radius: 40px;
}

.book-panel button{
    margin: 10px;
}

.book-close{
    position: absolute;
    border-radius:999px;
    background-color: #ff5454;
    border: 4px solid #d32929;
    width: 40px;
    height: 40px;
    color: white;
}

.validate-book-drawing{
     position: absolute;
     top: 0;
     right: 0;
    border-radius:999px;
    background-color: #42d51d;
    border: 4px solid #249e06;
    width: 40px;
    height: 40px;
    color: white;
}

.collected-object-btn{
    position: absolute;
    top :80px;
    left:20px;

}

.wrap-button{
    position: absolute;
    width: 100%;
}

.name-object-selected{
    position: absolute;
    top: 10vh;
    left: 60px;
    width: 30%;
}
