
/* Book interface */

#book-interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.half-open-book-interface{
    height: 200% !important;
}


.book-panel,
#book-selector-interface,
#book-drawing-interface {
    position: relative;
    background-image: url('/src/books/book.svg');
    background-repeat: no-repeat;
    background-color: white;
    border: solid 30px #F6BACB;
    pointer-events: visible;
}

#book-selector-interface, #book-drawing-interface {
    width: 60vw;
    height: 65vh;
}



.book-panel {
    padding: 20px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 40px;
}

.book-panel button{
    margin: 10px;
}

.book-close{
    position: relative;
    border-radius:999px;
    background-color: red;
    width: 40px;
    height: 40px;
    border: none;
    color: white;
}

.validate-book-drawing{
    position: relative;
    border-radius:999px;
    background-color: green;
    width: 40px;
    height: 40px;
    border: none;
    color: white;
}

.wrap-button{
    display: flex;
    justify-content: space-between;
}